---
title: Estates
---

<!doctype html>
<html lang="en">

  <head>

 

    <meta charset="utf-8">
    <title>Estate Watch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitoring the regeneration of London's council estates">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/album.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>

{% include navbar.html %}
 
    <div class="main-container">

 <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <ol class="breadcrumb">

                <li class="breadcrumb-item" aria-current="page">
			A <a href="/about">project</a> by <a href="http://londontenants.org">London Tenants Federation</a> and <a href="http://justspace.org.uk">Just Space</a>.
                </li>
              </ol>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </nav>
 

      <section class="headerspace-lg bg-gradient overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 mb-5 mb-md-0 position-relative">
              <h1 class="display-4">Estate Watch</h1>
              <p class="lead">
	      Over 100 of London's council and housing association estates are under threat of demolition and the Mayor <a href="{{ site.baseurl }}/approved/schemesapproved" class="text-yellow">continues to sign off</a> estate regenerations that don't comply with his own policy requirements. 
              </p>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6">
              <div class="main-carousel overflow-visible" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": true, "pageDots": false, "wrapAround": true, "autoPlay": 5000, "imagesLoaded": true, "initialIndex": 3, "draggable": false }'>
                      {% assign sortedestates = site.estates | sort:"name" | reverse %}
		      {% for estate in sortedestates %}

		  <div class="carousel-cell col-11">
                  <div class="card card-sm bg-gradient border-0">
			  <a href="{{ estate.url }}">
                      <img class="card-img-top" src="{{ estate.images.first.image_path }}" alt="{{ estate.name }}">
                    </a>
                    <div class="card-footer d-flex justify-content-between bg-white">
			    <a href="{{ estate.url }}" class="h6 m-0">{{ estate.name }}, {{ estate.borough | capitalize | replace: "gand", "g & " | replace: "hand", "h & "| replace: "nand", "n & " | replace: "of", " of " | replace: "forest", " Forest" | replace: "hamlets", " Hamlets" | replace: "dagenham", " Dagenham" | replace: "london", " London" | replace: "chelsea", "Chelsea" | replace: "fulham", "Fulham" }}</a>
			    <a target="_blank" href="{{ estate.url }}" data-toggle="tooltip" data-placement="top" title="Open in new tab"><i class="icon-popup"></i></a>
                    </div>
                  </div>
                </div>

		{% endfor %}


              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
 <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
	           <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
 </svg>




<div class="container">
          <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
              <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Estates under threat</h2>
</div>
</div>
</div>

 <div class="col-9 mx-auto border border-dark rounded">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="/leafletmap.html" height="400px"></iframe>
</div>
<p align="right">Click <a href="/underthreat/estatesatrisk">here</a> to explore the estates in more detail.</p>
</div>



      <section>
        <div class="container">
          <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
              <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Estate Watch</h2>
              <span class="lead" data-aos="fade-up" data-aos-delay="200">A platform to <a href="/underthreat/estatesatrisk">scrutinise</a>, hold the <a href="/approved/intro">Mayor to account</a> and provide <a href="/guide">resources</a> for communities undergoing estate regeneration.</span>

            </div>
            <!--end of col-->
          </div>
          <!--end of row-->

<!--beginning of cards-->

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top border border-dark" src="/images/cressinghamprotest.jpg" width="100%" height="200">
            <div class="card-body">
             <h5 class="card-title">Resources for residents</h5>
              <p class="card-text">Explore our factsheets with useful information for residents undergoing the regeneration of their estates.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="/guide">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top border border-dark" src="/images/larryandjanetleave.png" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
             <h5 class="card-title">Researching regeneration</h5>
              <p class="card-text">Explore the research showing the disruptive impact of estate regeneration on council estate communities.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="/research">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top border border-dark" src="/images/refurb.jpg" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
             <h5 class="card-title">Refurbishment benefits</h5>
              <p class="card-text">Why refurbishment is always the better option, unless buildings are structurally unsound.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="/refurbishment">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--end of cards-->
          
         
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
     
<section class="bg-gradient p-0 text-white">
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
          <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
        </svg>
         <div class="container space-lg">
          <div class="row text-center">
            <div class="col">
              <h3 class="h1">Sign up to our email updates:</h3>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Sign Up
</button>
<br>
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up form</h5>
        
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://cdn.forms-content.sg-form.com/34103992-a293-11ea-9f37-3e26868491f2"></iframe>
			    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
       
      </div>
    </div>
  </div>
</div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
     </section>


{% include footer.html %}

  </body>

</html>

