      <section class="bg-gradient text-light p-0">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="space-lg pb-0">
                <h1 class="display-4">
                 WHO WE ARE 
                </h1>
                <span class="lead">
			An online resource platform created by <a href="https://justspace.org.uk">Justspace</a> and the <a href="https://londontenants.org">London Tenants Federation</a> in conjunction with research by the University of Leicester and King's College London. 
                </span>
              </div>
            </div>
            <!--end of title col-->
	    <div class="col-12 col-md-6">
		    <img src="/images/full-logo-with-ltf-justspaceBLUE.png" class="img-fluid">
	    </div>
            <!--end of image col-->

          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
          <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
        </svg>
      </section>
