      <section class="bg-gradient text-light p-0">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="space-lg pb-0">
                <h1 class="display-4">
                 The Mayor's involvement 
                </h1>
                <span class="lead">
                 Sadiq Khan continues to approve and fund estate regeneration schemes that don't comply with his own policy requirements.
                </span>
              </div>
            </div>
            <!--end of col-->
<div class="col-12 col-md-6">
		    <img src="/images/sadigmeridian.png" class="img-fluid">
	    </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
          <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
        </svg>
      </section>
