<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">Ballots</h6>

              <nav class="nav flex-md-column">

		      <a class="{% if page.url contains 'issues' %}active {% endif %}nav-link" href="/approved/intro/#the-issues">The issues</a>
		      		      
      		      <a class="{% if page.url contains 'studies' %}active {% endif %}nav-link" href="/approved/intro/#case-studies">Case Studies</a>
				      		      
      		      <a class="{% if page.url contains 'demolition' %}active {% endif %}nav-link" href="/approved/intro/#demolition-or-disinvestment">Demolition or Disinvestment</a>

              </nav>
</div>
