<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">The Mayor's record</h6>

              <nav class="nav flex-md-column">

		      <a class="{% if page.url contains 'schemesapproved' %}active {% endif %}nav-link" href="/approved/schemesapproved">Affordable Housing</a>
		      		      
      		      <a class="{% if page.url contains 'ballotexemptions' %}active {% endif %}nav-link" href="/approved/ballotexemptions">Ballot Exemptions</a>
				      		      
      		      <a class="{% if page.url contains 'funding' %}active {% endif %}nav-link" href="/approved/funding">Funded Schemes</a>
      		      
		      <a class="{% if page.url contains 'rehousing' %}active {% endif %}nav-link" href="/approved/rehousing">Re-housing</a>


              </nav>
</div>
