      <footer class="bg-gray text-light footer-long">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <img alt="Image" align="left" src="{{ site.baseurl }}/images/avatar_small.png" class="mb-4" />
              <p class="text-muted">
                &copy; Estate Watch 
                <br />A project by X and Y in collaboration with Z.
              </p>
            </div>
            <!--end of col-->
           
                
              </div>
              <!--end of row-->
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </footer>
    </div>
    <!-- Required vendor scripts (Do not remove) -->
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/aos.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/flickity.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax-element.min.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scrollMonitor.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.smartWizard.min.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/prism.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/zoom.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fullscreen.js"></script>
