 <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
	    <small>&copy; by <a href="http://justspace.org.uk">JustSpace</a> and <a href="http://londontenants.org">LTF</a> in collaboration with <a href="https://le.ac.uk/">UofL</a> and <a href="https://www.kcl.ac.uk/">KCL</a></small>
    </div>
  </footer>

    </div>
    <!-- Required vendor scripts (Do not remove) -->
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/aos.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/flickity.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jarallax-element.min.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scrollMonitor.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.smartWizard.min.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/prism.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/zoom.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/theme.js"></script>
   <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fullscreen.js"></script>
