<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">Handouts</h6>

              <nav class="nav flex-md-column">

		      <a class="{% if page.url contains 'schemesapproved' %}active {% endif %}nav-link" href="/images/Handout1.docx">7 reasons to be aware of estate regeneration</a>
		      		      
      		      <a class="{% if page.url contains 'ballotexemptions' %}active {% endif %}nav-link" href="/images/Handout2.docx">Holding on to existing council homes</a>
				      		      
      		      <a class="{% if page.url contains 'funding' %}active {% endif %}nav-link" href="/images/Handout3.docx">Alternatives to Demolition</a>
      		      
		      <a class="{% if page.url contains 'funding' %}active {% endif %}nav-link" href="/images/Handout4.docx">10 questions to ask before you cast your vote</a>
		      
		      <a class="{% if page.url contains 'funding' %}active {% endif %}nav-link" href="/cpoguide">3 Tips for Leaseholders</a>
      		      
		      <a class="{% if page.url contains 'funding' %}active {% endif %}nav-link" href="/images/residentscharter_template.docx">Residents Charter Template</a>

		      <br>
<h6 class="title-decorative mb-2">Policy Requirements</h6>
		      <a class="{% if page.url contains 'schemesapproved' %}active {% endif %}nav-link" href="#headingOne">The Mayor's estate regeneration policy</a>


		      <a class="{% if page.url contains 'schemesapproved' %}active {% endif %}nav-link" href="#headingTwo">The Government's estate regeneration policy</a>


		      <a class="{% if page.url contains 'schemesapproved' %}active {% endif %}nav-link" href="#headingThree">The London Plan policy</a>

	      </nav>
	      </div>
