      <section class="bg-gradient text-light p-0">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
              <div class="space-lg pb-0">
                <h1 class="display-4">
                 Resources for residents 
                </h1>
                <span class="lead">
                 Our simple factsheets explain what residents on earmarked estates should expect, what they can do about it and how they can assert their rights. 
                </span>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
          <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
        </svg>
      </section>
