<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">ESTATE WATCH - a resource for London's communities facing regeneration</h4>
          <p class="text-white">This online resource has been <a href="/about">developed</a> by <a href="https://justspace.org.uk/"> Just Space </a> and <a href="https://londontenants.org/"> London Tenants Federation </a> in collaboration with University of Leicester and Kings College London. Read more about the project <a href="/about">here.</a></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Links</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow us on Twitter</a></li>
            <li><a href="mailto:info@estatewatch.london" class="text-white">Email us</a></li>
	    <br>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Explore the site
  </button>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
    <a class="dropdown-item" type="button" href="{{ site.baseurl }}/underthreat/estatesatrisk/">Watch list</a>
    <a class="dropdown-item" type="button" href="{{ site.baseurl }}/approved/schemesapproved">Broken promises</a>
    <a class="dropdown-item" type="button" href="{{ site.baseurl }}/research">Research</a>
    <a class="dropdown-item" type="button" href="{{ site.baseurl }}/refurbishment">Refurbishment</a>
<a class="dropdown-item" type="button" href="{{ site.baseurl }}/guide">Handbook</a>
<a class="dropdown-item" type="button" href="{{ site.baseurl }}/updates">Latest news</a>
  </div>
</div>
             
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
	    <a href="/" class="navbar-brand d-flex align-items-center">
        
	      <img align="left" alt="Estate Watch" src="{{ site.baseurl }}/images/avatar_small.png"/><strong>Estate Watch</strong>  - by LTF and Just Space.  
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
