<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">ESTATE WATCH</h4>
	  <p class="text-white"> A resource for London's communities undergoing estate regeneration<br> created by <a href="https://justspace.org.uk/"> Just Space </a> and <a href="https://londontenants.org/"> London Tenants Federation.</a><br>Read more about the project <a href="/about">here.</a></p><br><br><p class="text-right">Contact: info@estatewatch.london</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Menu &#8595;</h4>
          <ul class="list-unstyled">
            <li><a class="text-white" href="{{ site.baseurl }}/">Home page</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/underthreat/estatesatrisk/">Estates under threat</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/approved/intro">The Mayor's role</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/research">Researching regeneration</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/refurbishment">Refurbishment benefits</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/guide">Resources for residents</a></li>
            <li><a class="text-white" href="{{ site.baseurl }}/updates">Latest news</a></li>   
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
	    <a href="/" class="navbar-brand d-flex align-items-center">
        
	      <img align="left" alt="Estate Watch" src="{{ site.baseurl }}/images/avatar_small.png"/><strong>Estate Watch</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
