   <div class="navbar-container">
      <div class="bg-dark navbar-dark" data-sticky="top">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
		  <a class="navbar-brand" href="{{ site.baseurl }}/">
			  <img align="left" alt="Estate Watch" src="{{ site.baseurl }}/images/avatar_small.png"/> ESTATE WATCH - a resource for London's communities facing regeneration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="icon-menu h4"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown">Menu</a>
                  <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="pagesDropdown">

			  <a class="dropdown-item" href="{{ site.baseurl }}/underthreat/estatesatrisk/">
                      <span class="h6 mb-0">Watch List</span>
                      <p class="text-small text-muted">List of council estates under threat</p>
                    </a>

                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/approved/schemesapproved">
                      <span class="h6 mb-0">The problem with estate regeneration</span>
                      <p class="text-small text-muted">Revealing the gap between what's promised and what gets delivered.</p>
                    </a>

                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/research">
                      <span class="h6 mb-0">Research</span>
                      <p class="text-small text-muted">Research findings show the true impact of regeneration on residents.</p>
                    </a>

                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/refurbishment">
                      <span class="h6 mb-0">The case for refurbishment</span>
                      <p class="text-small text-muted">Evidence shows that refurbishment is nearly always the best option.</p>
                    </a>

                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/guide">
                      <span class="h6 mb-0">Handbook</span>
                      <p class="text-small text-muted">Guide for residents facing estate regeneration</p>
                    </a>

                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/updates">
                      <span class="h6 mb-0">Latest news</span>
                      <p class="text-small text-muted">Updates on the latest estate regeneration news from us and residents affected.</p>
                    </a>
                    <div class="dropdown-divider"></div>

		    <a class="dropdown-item" href="{{ site.baseurl }}/about">
                      <span class="h6 mb-0">About us</span>
                      <p class="text-small text-muted">Who we are and what this project is about.</p>
                    </a>

                  </div>
                </li>
             
              </ul>

              

            </div>
            <!--end nav collapse-->
          </nav>
        </div>
        <!--end of container-->
      </div>
    </div>
