<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">Case Studies</h6>

              <nav class="nav flex-md-column">

		      <a class="{% if page.url contains 'aylesbury' %}active {% endif %}nav-link" href="/casestudies/aylesbury">Aylesbury estate</a>
		      		      
      		      <a class="{% if page.url contains 'carpenters' %}active {% endif %}nav-link" href="/casestudies/carpenters">Carpenters estate</a>
				      		      
      		      <a class="{% if page.url contains 'ocean' %}active {% endif %}nav-link" href="/casestudies/ocean">Ocean estate</a>

                      <a class="{% if page.url contains 'lovelane' %}active {% endif %}nav-link" href="/casestudies/lovelane">Love Lane estate</a>

                      <a class="{% if page.url contains 'gascoigne' %}active {% endif %}nav-link" href="/casestudies/gascoigne">Gascoigne estate</a>
						      		      
      		      <a class="{% if page.url contains 'pepys' %}active {% endif %}nav-link" href="/casestudies/pepys">Pepys estate</a>
								      	   

              </nav>
</div>
