     <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">
			{{ page.title or page.name }}
                </li>
              </ol>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </nav>
