     <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">
			<a href="{{ site.baseurl }}/underthreat/estatesatrisk/">Estates under threat</a> {% if page.borough %} > {% endif %}<a href="{{ site.baseurl }}/underthreat/{{ page.borough }}"> {{ page.borough | capitalize }}</a> > {{ page.title }}
                </li>
              </ol>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </nav>
