<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">Archive</h6>

              <nav class="nav flex-md-column">

      		      <a class="nav-link" href="/july-news-roundup">July 2020</a>
      		      <a class="nav-link" href="/august-news-roundup">August 2020</a>
      		      <a class="nav-link" href="/september-news-roundup">Sep-Oct 2020</a>
      		      <a class="nav-link" href="/november-news-roundup">Nov 2020</a>
      		      <a class="nav-link" href="/january-news-roundup">Dec-Jan 2021</a>
      		      <a class="nav-link" href="/february-news-roundup">Feb-March 2021</a>
								      	   

              </nav>
</div>
