<div class="col-12 col-md-2 mb-5">
<h6 class="title-decorative mb-2">Archive</h6>

              <nav class="nav flex-md-column">

      		      <a class="nav-link" href="/july-news-roundup">August 2020</a>
      		      <a class="nav-link" href="/august-news-roundup">September 2020</a>
      		      <a class="nav-link" href="/september-news-roundup">November 2020</a>
      		      <a class="nav-link" href="/november-news-roundup">December 2020</a>
      		      <a class="nav-link" href="/january-news-roundup">February 2021</a>
		      <a class="nav-link" href="/february-news-roundup">April 2021</a>
      		      <a class="nav-link" href="/june-news-roundup">June 2021</a>
								      	   

              </nav>
</div>
