---
title: Estates
---

<!doctype html>
<html lang="en">

  <head>

 

    <meta charset="utf-8">
    <title>Estate Watch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitoring the regeneration of London's council estates">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/assets/css/fullscreen.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/assets/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>


{% include navbar.html %}


    <div class="main-container">
	    {% if page.category == 'underthreat' %}
            {% include underthreat_slug.html %} 
            {% else include slug.html %}
	    {% endif %}

{% if page.category == 'approved' %}
{% include approved_header.html %}
{% endif %}


{% if page.category == 'underthreat' %}
{% include underthreat_header.html %}
{% endif %}

{% if page.category == 'handbook' %}
{% include handbook_header.html %}
{% endif %}

{% if page.category == 'refurbishment' %}
{% include refurbishment_header.html %}
{% endif %}

{% if page.category == 'updates' %}
{% include updates_header.html %}
{% endif %}

{% if page.category == 'research' %}
{% include research_header.html %}
{% endif %}

{% if page.category == 'about' %}
{% include about_header.html %}
{% endif %}

<section>
  <div class="container">
          <div class="row">
            
		    {% if page.category == 'underthreat' %}
		    {% include sidebar.html %}
		    {% endif %}

                    {% if page.category == 'approved' %}
		    {% include approved_sidebar.html %}
		    {% endif %}

		    {% if page.category == 'updates' %}
		    {% include updates_sidebar.html %}
		    {% endif %}

                    {% if page.category == 'research' %}
		    {% include research_sidebar.html %}
		    {% endif %}
                    
                    {% if page.category == 'handbook' %}
		    {% include handbook_sidebar.html %}
		    {% endif %}

            <!--end of col-->
	    
	    <div class="col">
		    {% if page.category == 'updates' %}
		    <h1>{{ page.title }}</h1>
		    {% endif %}

           {{ content }}

                    {% if page.category == 'updates' %}
		    {% include comments.html %}
		    {% endif %}
                       
                    {% if page.category == 'approved' %}
		    {% include comments.html %}
		    {% endif %}

	    </div>
	    </div>
      </section>
      <!--end of section-->
     

  <section class="bg-gradient p-0 text-white">
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
          <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
        </svg>
         <div class="container space-lg">
          <div class="row text-center">
            <div class="col">
              <h3 class="h1">Sign up to our email updates:</h3>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Sign Up
</button>
<br>
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up form</h5>
        
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://cdn.forms-content.sg-form.com/34103992-a293-11ea-9f37-3e26868491f2"></iframe>
			    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
       
      </div>
    </div>
  </div>
</div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->

                 
                      

	     


                               

           
      </section>



   
{% include footer.html %}

  </body>

</html>

