---
layout: default
title: Estates under threat
---
<h1>{{ page.name }}</h1>
<h3 class="card-subtitle mb-2 {% if page.stage == 'Preparation' %}text-warning{% elsif page.stage == 'Implementation' %}text-danger{% elsif page.stage == 'Proposal' %}text-success{% endif %}">Stage: {{ page.stage }}</h3>

<div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 1, "cellAlign": "center", "prevNextButtons": true, "pageDots": true, "wrapAround": true, "autoPlay": 4000 }'>
 {% for image in page.images %}
    <img class="carousel-image" data-flickity-lazyload="{{ image.image_path }}" alt="images">
{% endfor %}
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
{{ content }}
<hr class="featurette-divider">
<strong>Have we missed something?</strong> Help us keep this resource up to date by leaving a comment below.&#8595;  
</div>
</div>

{% include comments.html %}




